## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [36]:
import pandas as pd
import numpy as np

In [37]:
data = {'Country': ['Australia', 'Belgium', 'Canada', 'Germany', 'France', 'Netherlands', 'Japan', 'Taiwan', 'Korea', 'TW'],        
        'Population': np.random.randint(100000000, size=10)}

ndf = pd.DataFrame(data)

In [40]:
ndf.sort_values(by=['Population'], ascending=False)

       Country  Population
3      Germany    90983695
2       Canada    70931157
7       Taiwan    67346703
9           TW    59921458
4       France    54833199
6        Japan    52189659
0    Australia    51772958
8        Korea    28206895
1      Belgium     5045477
5  Netherlands       77669